flask
requests
Werkzeug
flask[async] 
aiohttp
uvicorn
Flask-Marshmallow
Flask-SQLAlchemy
Flask-Migrate
marshmallow-sqlalchemy
Flask-RESTful
Marshmallow
Flask-Login
Flask-MySQL 
mysql-connector-python
pymysql
sqlalchemy